<%- include('menu'); -%>
    <div class="container">
        <div class="jumbotron text-center">
            <h1 class="display-3">Xem dữ liệu</h1>
            <p class="lead">Từ Mongodb</p>
            <hr class="my-2" />
        </div>

        <table class="table table-hover table-striped table-inverse">
            <thead class="thead-inverse">
                <tr>
                    <th>Tên</th>
                    <th>SDT</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% data.forEach(phantu => { %>
                    <tr>
                        <td scope="row">
                            <%= phantu.ten %>
                        </td>
                        <td>
                            <%= phantu.tuoi %>
                        </td>
                        <td>
                            <!-- mongodb -->
                            <!-- <a href="sua/<%= phantu._id %>"> <i class="fa fa-edit"></i></a>/
                            <a onclick="return xoaphantu('Bạn có chắc chắn xoá không')" href="/xoa/<%= phantu._id %>">
                                <i class="fa fa-remove"></i>
                            </a> -->
                            <!-- postgreSQL -->
                            <a href="sua/<%= phantu.id %>"> <i class="fa fa-edit"></i></a>/
                            <a onclick="return xoaphantu('Bạn có chắc chắn xoá không')" href="/xoa/<%= phantu.id %>">
                                <i class="fa fa-remove"></i>
                            </a>
                        </td>
                    </tr>
                    <% }) %>
            </tbody>
        </table>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script>
        function xoaphantu(tinnhan) {
            if (window.confirm(tinnhan) == true) {
                return true;
            }
            return false;
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

    </html>